@import '@featherds/styles/themes/variables';

$border-grey: #dfdfdf;
$severity-normal: $success;
$severity-warning: $warning;
$severity-minor: $warning;
$severity-major: $warning;
$severity-critical: $error;
